:root {
	--background-color: #1f1f1f;
	--text-color: #868686;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Albert Sans", "Open sans", sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	background: rgb(31, 31, 31);
	background: linear-gradient(180deg, rgba(31, 31, 31, 1) 0%, rgba(0, 0, 0, 1) 100%);
	color: var(--text-color);
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container h1 {
	font-size: 3.5rem;
	font-weight: 700;
	text-align: center;
}
.container h1 span {
	font-size: 2.5rem;
}

.container h1 b {
	color: #fff;
}
