.header-logo {
	font-weight: 300;
	text-shadow: 0 0 6px #fff, 0 0 14px #0fa, 0 0 20px #0fa, 0 0 30px #0fa, 0 0 35px #0fa, 0 0 40px #0fa;
}

.header-logo span {
	font-weight: 400;
}

.header-logo em {
	font-weight: 400;
	font-style: normal;
}

.header-logo small {
	font-size: 0.7em;
	font-weight: 400;
}
